<%- include("../includes/header.ejs", {title:"Accounts"}); %>
<h1>Accounts</h1>
<ul>
    <li>Account: <%= result[0].account_name %></li>
    <li>Account(s):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].account_name + ', ' + result[i].description %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>